body {
    // overflow: hidden;
    overflow-x: hidden;
    font-size: 16px;
}

#page {
    background-image: url("../img/purple.jpg");
    background-attachment: fixed;
    width: 100vw;
    font-family: $fontText; 
}

h1 {
    color: $colorTitle;
    font-size: 150px;
    text-align: center;
    padding-top: 2vh;
    font-family: $fontTitle;
}

h3 {
    @include textConfig(left, $colorLight, 2.4vw);
    padding-bottom: 8vh;
    text-decoration: underline;
}

h4 {
    color: rosybrown;
    font-size: 6vw;
    text-align: center;
    padding-top: 2vh;
    font-family: "Pacifico";
}

strong {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $colorTitle;
}

a {
    color: $colorTitle;
}

.fab {
    font-size: 72px;
}

//BLOC

.brColor {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundDark;
}

.brWhite {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundLight;
}

.noColor {
    width: 100vw;
    height: 100vh;
}

.brColor2 {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundContact;
}

//Mail Validation

.error {
    color: red;
    font-size: 18px;
}
.sended {
    color: green;
    font-size: 18px;
    
}

// Responsivity => media query

@media screen and (max-width: 600px) {
    h1 {
        font-size: 68px;
        padding-top: 25px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 60px;
        padding-top: 25px;
        
    }
    .fab {
        font-size: 36px;
    }
}