#lookingFor {

    ul {
        padding-top: 17vh;
        width: 50%;
        margin: auto;
        li {
            @include textConfig(left, $colorDark, 1.5vw);
            list-style: disc inside;
            padding-bottom: 6vh;
        }
    }
    .centerDiv {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 600px) {
    #lookingFor {
        ul {
            padding-top: 15vh;
            width: 50%;
            margin: auto;
            li {
                @include textConfig(left, $colorDark, 12px);
                list-style: disc inside;
                padding-bottom: 5vh;
            }
        }
        .centerDiv {
            padding-top: 10vh;
        }
    }
}